{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('barber.index') }}">
        <i class="fas fa-bold"></i>arbershop <i class="fab fa-amilia"></i>dmin</a>
    <div class="container" id="navbarNav">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('barber.index') }}">HOME</a>
            </li>
        </ul>
        <ul class="nav nav-pills">
            <li>
                <a class="nav-link" href="{{ url_for('auth_barber.logout') }}">
                    <i class="fas fa-sign-out-alt"></i> LOGOUT</a>
            </li>
        </ul>
  </div>
</nav>
{% endblock%}