{% extends "barber/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.first_name }}!</h1>

    {% if current_user.username == 'admin' %}
    <div class="accordion" id="barber_options">
        <div class="card">
            <div class="card-header" id="new_barber">
                <h2 class="mb-0">
                    <a class="btn btn-primary" data-toggle="collapse" href="#new_barber_form" role="button" aria-expanded="false" aria-controls="new_barber_form">
                        New Barber
                    </a>
                </h2>
            </div>

            <div id="new_barber_form" class="collapse" aria-labelledby="new_barber" data-parent="#barber_options">
                <div class="card-body">
                    {{ wtf.quick_form(new_barber_form) }}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="new_service">
                <h2 class="mb-0">
                    <a class="btn btn-primary" data-toggle="collapse" href="#new_service_form" role="button" aria-expanded="false" aria-controls="new_service_form">
                        New Service
                    </a>
                </h2>
            </div>
            <div id="new_service_form" class="collapse" aria-labelledby="new_service" data-parent="#barbers_options">
                <div class="card-body">
                    {{ wtf.quick_form(new_service_form) }}
                </div>
            </div>
        </div>
    </div>

    <h2>Barbers</h2>
    <table class="table" id="barbers">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for barber in barbers %}
        <tr>
            <th scope="row">{{ barber.id }}</th>
            <th scope="row">{{ barber.first_name }} {{ barber.last_name }}</th>
            <th scope="row">{{ barber.username }}</th>
            <th scope="row">
                <a class="btn btn-danger"
                   role="button"
                   href="{{ url_for('barber.delete_barber', id=barber.id) }}">
                    Delete
                </a>
            </th>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Services</h2>
    <table class="table" id="services">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Duration (min)</th>
            <th scope="col">Price (RON)</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for service in services %}
        <tr>
            <th scope="row">{{ service.id }}</th>
            <th scope="row">{{ service.name }}</th>
            <th scope="row">{{ service.description }}</th>
            <th scope="row">{{ service.duration }}</th>
            <th scope="row">{{ service.price }}</th>
            <th scope="row">
                <a class="btn btn-danger"
                   role="button"
                   href="{{ url_for('barber.delete_service', id=service.id) }}">
                    Delete
                </a>
            </th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2>Your reservations for today</h2>
    <table class="table" id="reservations">
        <thead>
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Client Name</th>
            <th scope="col">Client Phone</th>
            <th scope="col">Service</th>
            <th scope="col">Duration</th>
            <th scope="col">Confirmation Status</th>
        </tr>
        </thead>
        <tbody>
        {% for reservation in today_reservations %}
        <tr>
            <th scope="row">{{ reservation.reservation_time.strftime('%H:%M') }}</th>
            <th scope="row">{{ reservation.client_first_name }} {{ reservation.client_last_name }}</th>
            <th scope="row">{{ reservation.client_phone }}</th>
            <th scope="row">{{ reservation.get_service() }}</th>
            <th scope="row">{{ reservation.get_duration() }}</th>
            <th scope="row">{{ reservation.confirmed_status }}</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}