{% extends "base.html" %}

{% block app_content %}
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">CLASSIC NEVER GETS OLD!</h1>
            <p class="lead">An experience you'll never forget!</p>
            <a class="btn btn-primary btn-lg"
               href="{{ url_for('main.schedule') }}"
               role="button">
                Schedule an appointment
            </a>
        </div>
    </div>
{% endblock %}